.spec-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 1000px;
}

.line {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.horizontal-connection {
    width: 20px;
    height: 5px;
}

.vertical-connectors {
    display: flex;
    justify-content: space-around;
}

.black {
    background-color: black;
}

.transparent {
    background-color: transparent;
}

.vertical-connection {    
    width: 5px;
    height: 20px;
}

.line mat-card {
    width: 135px;
    border-style: solid;
}

.line mat-card-title {
    font-size: 16px;
}

.line mat-card-content {
    font-size: 15px;
}

.spec-image {
    width: 200px;
    text-align: center;
}