<div class="page-content">
  <div class="spec-content" *ngIf="specData != null">
    <div class="left">
      <mat-card class="spec-image">
        <img src="../../assets/{{specData.name}}.jpg" alt="{{spec}}">
        <hr>
        <mat-card-title>{{specData.name}}</mat-card-title>
      </mat-card>
    </div>
    <div class="right">
      <div class="talents" *ngFor="let row of specData.talents; let i = index" [attr.data-index]="i">
        <div class="line">
          <mat-card>
            <mat-card-title>{{row[0]}}</mat-card-title>
          </mat-card>
          <div class="horizontal-connection" [class.black]="specData.horizontalConnections[i][0]"></div>
          <mat-card>
            <mat-card-title>{{row[1]}}</mat-card-title>
          </mat-card>
          <div class="horizontal-connection" [class.black]="specData.horizontalConnections[i][1]"></div>
          <mat-card>
            <mat-card-title>{{row[2]}}</mat-card-title>
          </mat-card>
          <div class="horizontal-connection" [class.black]="specData.horizontalConnections[i][2]"></div>
          <mat-card>
            <mat-card-title>{{row[3]}}</mat-card-title>
          </mat-card>
        </div>
        <div class="vertical-connectors">
          <div class="vertical-connection" [class.black]="specData.verticalConnections[i][0]"></div>
          <div class="vertical-connection" [class.black]="specData.verticalConnections[i][1]"></div>
          <div class="vertical-connection" [class.black]="specData.verticalConnections[i][2]"></div>
          <div class="vertical-connection" [class.black]="specData.verticalConnections[i][3]"></div>
        </div>
      </div>
    </div>
  </div>
</div>