<div class="page-content">

    <!-- <mat-card>
        <mat-card-title>Species</mat-card-title>
    </mat-card> -->

    <mat-card *ngIf="selectedRace === ''">
        <mat-card-title>Sources</mat-card-title>
        <!-- <mat-card-subtitle>Allow or Restrict content for this character</mat-card-subtitle> -->
        
        <mat-form-field class="input text">
            <input matInput #key type='text' [(ngModel)]="filter" placeholder="Species Filter"
                name="Species Filter">
        </mat-form-field>
        <app-list [collection]="collection" (listClicked)="onClicked($event)"></app-list>
    </mat-card>

    <mat-card *ngIf="selectedRace !== ''">
        <mat-card-header>
            <mat-card-title>Race</mat-card-title>
            <button mat-flat-button (click)="deselectRace()">Change Race</button>
        </mat-card-header>
        
        <app-races [raceInjected]="selectedRace"></app-races>
    </mat-card>
    
    <div>
        <button mat-button matStepperNext>Next</button>
    </div>
</div>