.page-content {
    margin: 20px;
    // flex-direction: row;
    align-items: center;
    // align-items: flex-start; 
}

.race-content {
    margin: auto;
    max-width: 1000px;
    // min-width: 700px;
}

.main {
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.sub {
    margin-top: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-content mat-card-title, mat-card-content {
    font-size: 18px;    
}

.right-content mat-card {
    margin: 10px 10px 0 0;
    text-align: center;
    height: 60px;
}

.race-image {
    width: 200px;
    text-align: center;
}

.ability {
    margin-top: 5px;
}

img {
    width: 200px;
    height: auto;
}