.header {
    top: 0;
    left: 0;
    right: 0;
    padding-left: 25px;
    padding-right: 50px;
    margin: 0;
    background-color: #EEEEEE;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-family: 'PT Sans', sans-serif;
}

