<div class="page-content">
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="navigate('/browse/races')">races</button>
    <button mat-raised-button color="primary" (click)="navigate('/browse/specs')">specs</button>
    <button mat-raised-button color="primary" (click)="navigate('/races/new')">create race</button>
    <button mat-raised-button color="primary" (click)="navigate('/specs/new')">create spec</button>
  </div>
  <p>TODO: Make Pretty</p>
  <button (click)="debug()">upload new data</button>
</div>