<div class="page-content">
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="navigate('/browse/races')">races</button>
    <button mat-raised-button color="primary" (click)="navigate('/browse/specs')">specs</button>
    <br>
    <button mat-raised-button color="primary" (click)="navigate('/create/race')">create race</button>
    <button mat-raised-button color="primary" (click)="navigate('/create/spec')">create spec</button>
    <button mat-raised-button color="primary" (click)="navigate('/create/talent')">create talent</button>
    <button mat-raised-button color="primary" (click)="navigate('/create/armor')">create armor</button>
    <button mat-raised-button color="primary" (click)="navigate('/create/weapon')">create weapon</button>
    <button mat-raised-button color="primary" (click)="navigate('/create/gear')">create gear</button>
    <button mat-raised-button color="primary" (click)="navigate('/create/vehicle')">create vehicle</button>
    <button mat-raised-button color="primary" (click)="navigate('/create/starship')">create starship</button>
  </div>
  <p>TODO: Make Pretty</p>
</div>