<div class="page-container">

  <div *ngIf="raceObservable && raceParentObservable | async as race; else loading">
      
      <div class="main">
          <div class="left">
            <mat-card class="race-image">
              <!-- <img src="../../assets/races/{{raceData.key}}.jpg" alt="{{race}}"> -->
              <hr>
              <mat-card-title>{{raceParent.name}}</mat-card-title>
            </mat-card>
            <button mat-raised-button color="warn" (click)="edit()">Edit</button>
          </div>
    
          <div class="right">
            <div class="right-content">
              <mat-card>
                <mat-card-title>Brawn</mat-card-title>
                <hr>
                <mat-card-content>{{raceInfo.brawn}}</mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-title>Agility</mat-card-title>
                <hr>
                <mat-card-content>{{raceInfo.agility}}</mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-title>Intellect</mat-card-title>
                <hr>
                <mat-card-content>{{raceInfo.intellect}}</mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-title>Cunning</mat-card-title>
                <hr>
                <mat-card-content>{{raceInfo.cunning}}</mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-title>Willpower</mat-card-title>
                <hr>
                <mat-card-content>{{raceInfo.willpower}}</mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-title>Presence</mat-card-title>
                <hr>
                <mat-card-content>{{raceInfo.presence}}</mat-card-content>
              </mat-card>
            </div>
    
            <div class="right-content">
              <mat-card>
                <mat-card-title>Wound Threshold</mat-card-title>
                <hr>
                <mat-card-content>{{raceInfo.wounds}}</mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-title>Strain Threshold</mat-card-title>
                <hr>
                <mat-card-content>{{raceInfo.strain}}</mat-card-content>
              </mat-card>
              <mat-card>
                <mat-card-title>Starting XP</mat-card-title>
                <hr>
                <mat-card-content>{{raceInfo.xp}}</mat-card-content>
              </mat-card>
            </div>
          </div>
    
          
        </div>
        <div class="sub">
          <mat-card *ngFor="let ability of raceInfo.abilities" class="ability">
            <mat-card-content>{{ability}}</mat-card-content>
          </mat-card>
        </div>
  </div>
</div>

<ng-template #loading>
  LOADING
</ng-template>

<!-- <div class="page-content">
  
  <div class="race-content" *ngIf="raceData != null">
    <div class="main">
      <div class="left">
        <mat-card class="race-image">
          <img src="../../assets/races/{{raceData.key}}.jpg" alt="{{race}}">
          <hr>
          <mat-card-title>{{raceData.name}}</mat-card-title>
        </mat-card>
      </div>

      <div class="right">
        <div class="right-content">
          <mat-card>
            <mat-card-title>Brawn</mat-card-title>
            <hr>
            <mat-card-content>{{raceData.brawn}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Agility</mat-card-title>
            <hr>
            <mat-card-content>{{raceData.agility}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Intellect</mat-card-title>
            <hr>
            <mat-card-content>{{raceData.intellect}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Cunning</mat-card-title>
            <hr>
            <mat-card-content>{{raceData.cunning}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Willpower</mat-card-title>
            <hr>
            <mat-card-content>{{raceData.willpower}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Presence</mat-card-title>
            <hr>
            <mat-card-content>{{raceData.presence}}</mat-card-content>
          </mat-card>
        </div>

        <div class="right-content">
          <mat-card>
            <mat-card-title>Wound Threshold</mat-card-title>
            <hr>
            <mat-card-content>{{raceData.woundThreshold}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Strain Threshold</mat-card-title>
            <hr>
            <mat-card-content>{{raceData.strainThreshold}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Starting XP</mat-card-title>
            <hr>
            <mat-card-content>{{raceData.startingXP}}</mat-card-content>
          </mat-card>
        </div>
      </div>

      
    </div>
    <div class="sub">
      <mat-card *ngFor="let ability of raceData.specialAbilities" class="ability">
        <mat-card-content>{{ability}}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->