mat-card {
    width: 150px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

mat-card-title {
    text-align: center;
}

.highlight {
    background-color: pink;
}

.orange {
    background-color: rgb(255, 102, 0);
}

.black {
    background-color: rgb(80, 80, 80);
}

.red {
    background-color: rgb(202, 44, 44);
}

.blue {
    background-color: rgb(74, 74, 255);
}

.orange-red, .red-orange {
    background-image: linear-gradient(to right, rgb(255, 102, 0) , rgb(202, 44, 44));
}

.orange-black, .black-orange {
    background-image: linear-gradient(to right, rgb(255, 102, 0) , rgb(80, 80, 80));
}

.red-black, .black-red {
    background-image: linear-gradient(to right, rgb(202, 44, 44) , rgb(80, 80, 80));
}

.blue-red, .red-blue {
    background-image: linear-gradient(to right, rgb(202, 44, 44) , rgb(48, 57, 177));
}

.blue-orange, .orange-blue {
    background-image: linear-gradient(to right, rgb(255, 102, 0) , rgb(48, 57, 177));
}

.blue-black, .black-blue {
    background-image: linear-gradient(to right, rgb(80, 80, 80) , rgb(48, 57, 177));
}

.orange-red-black {
    background-image: linear-gradient(to right, rgb(255, 102, 0), rgb(202, 44, 44), rgb(80, 80, 80));
}