<div class="container">
    <div *ngIf="auth.user$ | async as user; else login">
            {{ user | json }}
        <button mat-button class="full-width" color="primary" (click)="auth.signOut()">Log Out</button>
        <button mat-button class="full-width" color="primary" (click)="navHome()">Home</button>
    </div>
</div>

<ng-template #login>

    <button mat-button class="full-width" color="primary" (click)="auth.googleSignIn()">Login with Google</button>

    <!-- <div class="left">
        <mat-card>
            <mat-card-title>Login</mat-card-title>

            <form class="login-form">
                <mat-form-field class="full-width">
                    <input matInput type="email" placeholder="Email" [(ngModel)]="emailLogin" name="emailLogin">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Password" [(ngModel)]="passwordLogin"
                        name="passwordLogin">
                </mat-form-field>
            </form>

            <button mat-button class="full-width" color="primary" (click)="signIn()">Login</button>
        </mat-card>
    </div>

    <div class="right">
        <mat-card>
            <mat-card-title>Register</mat-card-title>

            <form class="login-form">

                <mat-form-field class="full-width">
                    <input matInput type="test" placeholder="Username" [(ngModel)]="username" name="username">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="email" placeholder="Email" [(ngModel)]="emailRegister" name="emailRegister">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="email" placeholder="Confirm Email" [(ngModel)]="emailConfirm"
                        name="emailConfirm">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Password" [(ngModel)]="passwordRegister"
                        name="passwordRegister">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="passwordConfirm"
                        name="passwordConfirm">
                </mat-form-field>
            </form>

            <button mat-button class="full-width" color="primary" (click)="register()">Register</button>

        </mat-card>
    </div> -->
</ng-template>