.page-content {
    // margin-top: 5px;
    margin-left: 25%;
}

.text, .number {
    margin-right: 20px;
}

mat-card {
    margin-bottom: 20px;
}

mat-card-title, mat-expannsion-panel-header, mat-panel-title {
    font-size: 14px;
}

mat-card-content {
    font-size: 14px;
}

#books, #specialabilities, #added {
    width: 300px;
}

#characteristics, #otherstats {
    width: 600px;
}



