<div class="page-content">
    <form class="new-race-form">
      <mat-form-field class="input text">
        <input matInput #key type='text' [(ngModel)]="raceName" placeholder="Race Name" name="Race Name">
      </mat-form-field>
  
      <mat-form-field class="input text">
        <input matInput #key type='text' [(ngModel)]="raceKey" placeholder="Race Key" name="Race Key">
      </mat-form-field>
    </form>
    <mat-card id="books">
      <mat-card-title>Books</mat-card-title>
      <form class="new-race-form">
        <mat-form-field class="input text">
          <textarea matInput #key type='text' [(ngModel)]="book" placeholder="Input Book" name="Input Book"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="addBook()" color="primary">add book</button>
        <mat-card-content>
          <div *ngFor="let book of books; let i = index">
            {{book}}
            <button mat-icon-button color="warn">
              <mat-icon (click)="removeBook(i)">clear</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
    <mat-card id="characteristics">
      <mat-card-title>Characteristics</mat-card-title>
      <form class="new-race-form">
        <mat-form-field class="input text">
          <input matInput #key type='number' [(ngModel)]="brawn" placeholder="Brawn" name="Brawn">
        </mat-form-field>
  
        <mat-form-field class="input text">
          <input matInput #key type='number' [(ngModel)]="agility" placeholder="Agility" name="Agility">
        </mat-form-field>
  
        <mat-form-field class="input text">
          <input matInput #key type='number' [(ngModel)]="intellect" placeholder="Intellect" name="Intellect">
        </mat-form-field>
  
        <mat-form-field class="input text">
          <input matInput #key type='number' [(ngModel)]="cunning" placeholder="Cunning" name="Cunning">
        </mat-form-field>
  
        <mat-form-field class="input text">
          <input matInput #key type='number' [(ngModel)]="willpower" placeholder="Willpower" name="Willpower">
        </mat-form-field>
  
        <mat-form-field class="input text">
          <input matInput #key type='number' [(ngModel)]="presence" placeholder="Presence" name="Presence">
        </mat-form-field>
      </form>
    </mat-card>
  
    <mat-card id="otherstats">
      <mat-card-title>Other Stats</mat-card-title>
      <form class="new-race-form">
        <mat-form-field class="input text">
          <input matInput #key type='number' [(ngModel)]="wounds" placeholder="Wound Threshold" name="Wound Threshold">
        </mat-form-field>
  
        <mat-form-field class="input text">
          <input matInput #key type='number' [(ngModel)]="strain" placeholder="Strain Threshold" name="Strain Threshold">
        </mat-form-field>
  
        <mat-form-field class="input text">
          <input matInput #key type='number' [(ngModel)]="xp" placeholder="Starting XP" name="Starting XP">
        </mat-form-field>
      </form>
    </mat-card>
  
    <mat-card id="specialabilities">
      <mat-card-title>Special Abilities</mat-card-title>
      <form class="new-race-form">
        <mat-form-field class="input text">
          <textarea matInput #key type='text' [(ngModel)]="ability" placeholder="Input Ability"
            name="Input Ability"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="addAbility()" color="primary">add ability</button>
      </form>
    </mat-card>
  
    <mat-card id="added">
      <mat-card-title>Added Abilities</mat-card-title>
      <mat-card-content>
        <div *ngFor="let ability of specialAbilities; let i = index">
          {{ability}}
          <button mat-icon-button color="warn">
            <mat-icon (click)="removeAbility(i)">clear</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  
    <button mat-raised-button (click)="submitRace()" color="primary">submit race</button>
  </div>
