<div class="page-content">
    <mat-card class="card">
        <mat-card-title>Update Gear</mat-card-title>
        <hr>
        <mat-card-content class="new-talent">
            <mat-form-field class="input text">
                <input matInput #key type='text' [(ngModel)]="gearName" placeholder="Gear Name">
            </mat-form-field>
            <mat-form-field class="input text">
                <input matInput #key type='text' [(ngModel)]="gearKey" placeholder="Gear Key">
            </mat-form-field>
            
            <mat-form-field class="input dropdown">
                <mat-select placeholder="Select Category" [(ngModel)]="category">
                    <mat-option *ngFor="let type of gearCategory | keyvalue" [value]="type.value">{{type.key}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="input number">
                <input matInput #key type='number' [(ngModel)]="encum" placeholder="Encumbrance">
            </mat-form-field>
            <mat-form-field class="input number">
                <input matInput #key type='number' [(ngModel)]="price" placeholder="Price">
            </mat-form-field>
            <mat-form-field class="input number">
                <input matInput #key type='number' [(ngModel)]="rarity" placeholder="Rarity">
            </mat-form-field>
            
            <mat-checkbox class="input checkbox" [(ngModel)]="talentRanked">Restricted?</mat-checkbox>

            <br>

            <mat-form-field class="input text">
                <textarea matInput #key type='text' [(ngModel)]="property" placeholder="Input Property" name="Input Property"></textarea>
              </mat-form-field>
              <button mat-raised-button (click)="addProperty()" color="primary">add property</button>
              <mat-card-content>
                <div *ngFor="let ppty of properties; let i = index">
                  {{ppty}}
                  <button mat-icon-button color="warn">
                    <mat-icon (click)="removeProperty(i)">clear</mat-icon>
                  </button>
                </div>
              </mat-card-content>

            <button mat-raised-button (click)="submitGear()" color="primary">submit gear</button>
        </mat-card-content>
    </mat-card>
</div>