<div class="container">
    <app-create-race *ngIf="race"></app-create-race>
    <app-create-spec *ngIf="spec"></app-create-spec>
    <app-create-career *ngIf="career"></app-create-career>
    <app-create-talent *ngIf="talent"></app-create-talent>
    <app-create-armor *ngIf="armor"></app-create-armor>
    <app-create-weapon *ngIf="weapon"></app-create-weapon>
    <app-create-gear *ngIf="gear"></app-create-gear>
    <app-create-vehicle *ngIf="vehicle"></app-create-vehicle>
    <app-create-starship *ngIf="starship"></app-create-starship>
</div>
