.page-content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

mat-card-title, mat-expannsion-panel-header, mat-panel-title {
    font-size: 14px;
}

mat-card-content {
    font-size: 14px;
}

.input {
    margin-right: 20px;
}

.expansion, mat-card {
    margin-bottom: 20px;
}