.spec-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    // margin-left: 300px;
    // margin-right: 300px;
    // margin-top: 20px;
    max-width: 1250px;
}

.left, .right {
    margin-left: 25px;
    margin-right: 25px;
}

// left

.left mat-card {
    margin-bottom: 20px;
    width: 200px;
}

// right

.line, .talents {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.line mat-card, mat-expansion-panel {
    width: 175px;
    border-style: solid;
    align-self: stretch;
}

.line mat-card-title, mat-expannsion-panel-header, mat-panel-title {
    font-size: 14px;
}

.line mat-card-content {
    font-size: 14px;
}

.horizontal-connection {
    width: 20px;
    height: 5px;
    align-self: center;
}

.vertical-connectors {
    display: flex;
    justify-content: space-around;
}

.black {
    background-color: black;
}

.transparent {
    background-color: transparent;
}

.vertical-connection {    
    width: 5px;
    height: 20px;
}
// .spec-image {
//     width: 200px;
//     text-align: center;
// }

// img {
//     width: 200px;
//     height: auto;
// }