<div class="page-content">
  <div *ngIf="specObservable && specParentObservable | async as spec; else loading">

    <div class="spec-content">
      <div class="left">
        <mat-card class="spec-image">
          <!-- <img src="../../assets/specs/{{specData.key}}.jpg" alt="{{spec}}"> -->
          <hr>
          <mat-card-title>{{specParent.name}}</mat-card-title>
          <mat-card-content>{{specParent.career}}</mat-card-content>
        </mat-card>
        <mat-card class="career-skills" *ngIf="specParent.career!='Universal'">
          <mat-card-title>Career Skills</mat-card-title>
          <mat-card-content *ngIf="careerSkills">{{careerSkills}}</mat-card-content>
        </mat-card>
        <mat-card class="career-skills">
          <mat-card-title>Bonus Career Skills</mat-card-title>
          <mat-card-content *ngIf="bonusSkills">{{bonusSkills}}</mat-card-content>
        </mat-card>
      </div>
      <div class="right">

        <!-- row 0 -->
        <div class="line">
          <div class="talents" *ngFor="let talent of specInfo.talentTree.row0; let i = index" [attr.data-index]="i">
            <mat-card>
              <mat-card-title *ngIf="talents[talent]">{{talents[talent].name}}</mat-card-title>
              <hr>
              <mat-card-content *ngIf="talents[talent]">{{talents[talent].description}}</mat-card-content>
            </mat-card>
            <div class="horizontal-connection" [class.black]="specInfo.talentTree.horizontalConnections.row0[i]"></div>
          </div>
        </div>
        <div class="vertical-connectors">
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row0[0]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row0[1]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row0[2]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row0[3]"></div>
        </div>

        <!-- row 1 -->
        <div class="line">
          <div class="talents" *ngFor="let talent of specInfo.talentTree.row1; let i = index" [attr.data-index]="i">
            <mat-card>
              <mat-card-title *ngIf="talents[talent]">{{talents[talent].name}}</mat-card-title>
              <hr>
              <mat-card-content *ngIf="talents[talent]">{{talents[talent].description}}</mat-card-content>
            </mat-card>
            <div class="horizontal-connection" [class.black]="specInfo.talentTree.horizontalConnections.row1[i]"></div>
          </div>
        </div>
        <div class="vertical-connectors">
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row1[0]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row1[1]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row1[2]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row1[3]"></div>
        </div>

        <!-- row 2 -->
        <div class="line">
          <div class="talents" *ngFor="let talent of specInfo.talentTree.row2; let i = index" [attr.data-index]="i">
            <mat-card>
              <mat-card-title *ngIf="talents[talent]">{{talents[talent].name}}</mat-card-title>
              <hr>
              <mat-card-content *ngIf="talents[talent]">{{talents[talent].description}}</mat-card-content>
            </mat-card>
            <div class="horizontal-connection" [class.black]="specInfo.talentTree.horizontalConnections.row2[i]"></div>
          </div>
        </div>
        <div class="vertical-connectors">
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row2[0]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row2[1]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row2[2]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row2[3]"></div>
        </div>

        <!-- row 3 -->
        <div class="line">
          <div class="talents" *ngFor="let talent of specInfo.talentTree.row3; let i = index" [attr.data-index]="i">
            <mat-card>
              <mat-card-title *ngIf="talents[talent]">{{talents[talent].name}}</mat-card-title>
              <hr>
              <mat-card-content *ngIf="talents[talent]">{{talents[talent].description}}</mat-card-content>
            </mat-card>
            <div class="horizontal-connection" [class.black]="specInfo.talentTree.horizontalConnections.row3[i]"></div>
          </div>
        </div>
        <div class="vertical-connectors">
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row3[0]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row3[1]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row3[2]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row3[3]"></div>
        </div>

        <!-- row 4 -->
        <div class="line">
          <div class="talents" *ngFor="let talent of specInfo.talentTree.row4; let i = index" [attr.data-index]="i">
            <mat-card>
              <mat-card-title *ngIf="talents[talent]">{{talents[talent].name}}</mat-card-title>
              <hr>
              <mat-card-content *ngIf="talents[talent]">{{talents[talent].description}}</mat-card-content>
            </mat-card>
            <div class="horizontal-connection" [class.black]="specInfo.talentTree.horizontalConnections.row4[i]"></div>
          </div>
        </div>
        <div class="vertical-connectors">
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row4[0]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row4[1]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row4[2]"></div>
          <div class="vertical-connection" [class.black]="specInfo.talentTree.verticalConnections.row4[3]"></div>
        </div>


      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  LOADING
</ng-template>