.page-content {
    display: flex;
    justify-content: space-evenly;
}

button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#eote {
    background-color: rgb(161, 73, 15);
    background-image: url(../../assets/eote.png);
    background-position: 50% 50%;
    background-size: 75px;
    background-repeat: no-repeat;
}

#aor {
    background-color: rgb(202, 44, 44);
    background-image: url(../../assets/aor.png);
    background-position: 50% 50%;
    background-size: 75px;
    background-repeat: no-repeat;
}

#fnd {
    background-color: rgb(80, 80, 80);
    background-image: url(../../assets/fnd.png);
    background-position: 50% 50%;
    background-size: 75px;
    background-repeat: no-repeat;
}

#uni {
    background-color: rgb(74, 74, 255);
    background-image: url(../../assets/uni.png);
    background-position: 50% 50%;
    background-size: 75px;
    background-repeat: no-repeat;
}