<div class="page-content">
    <mat-card class="section characteristics">
        <mat-card-title>Characteristics</mat-card-title>
        <div class="characteristics">
            <mat-card>
                <mat-card-title>Brawn</mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <mat-card-content>{{brawn}}</mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-button (click)="decreaseStat('b')">-1</button>
                    <button mat-button (click)="increaseStat('b')">+1</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>Agility</mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <mat-card-content>{{agility}}</mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-button (click)="decreaseStat('a')">-1</button>
                    <button mat-button (click)="increaseStat('a')">+1</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>Intellect</mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <mat-card-content>{{intellect}}</mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-button (click)="decreaseStat('i')">-1</button>
                    <button mat-button (click)="increaseStat('i')">+1</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>Cunning</mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <mat-card-content>{{cunning}}</mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-button (click)="decreaseStat('c')">-1</button>
                    <button mat-button (click)="increaseStat('c')">+1</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>Willpower</mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <mat-card-content>{{willpower}}</mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-button (click)="decreaseStat('w')">-1</button>
                    <button mat-button (click)="increaseStat('w')">+1</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>Presence</mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <mat-card-content>{{presence}}</mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-button (click)="decreaseStat('p')">-1</button>
                    <button mat-button (click)="increaseStat('p')">+1</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card>

    <mat-card class="section checkboxes">
        <mat-card-title>Skills</mat-card-title>

        <div class="checkbox" *ngFor="let skill of skills">
            <mat-button-toggle value="skill" class="skillbutton" (click)="clickSkillButton()"><div class="hidden">1</div></mat-button-toggle>
            <mat-button-toggle class="skillbutton"><div class="hidden">2</div></mat-button-toggle>
            {{skill}}
            <!-- <mat-checkbox class="checkbox"></mat-checkbox>
            <mat-checkbox class="checkbox">{{skill}}</mat-checkbox> -->
        </div>

    </mat-card>

    <mat-card class="section talents">
        <mat-card-title>Talent Tree</mat-card-title>

    </mat-card>
    <div>
        <button mat-button matStepperNext>Next</button>
    </div>
    <div class="currentxp">
        <mat-card class="xpcard">
            <mat-card-title>Current XP</mat-card-title>
            <mat-card-content>{{currentXP}}XP</mat-card-content>
        </mat-card>
    </div>
</div>