<div class="page-content">
    <mat-horizontal-stepper [linear]="false">
        <mat-step label="Basic Info">
            <app-create-character-info></app-create-character-info>
        </mat-step>
        <mat-step label="Race">
            <app-create-character-race></app-create-character-race>
        </mat-step>
        <mat-step label="Class">
            <app-create-character-class></app-create-character-class>
        </mat-step>
        <mat-step label="Abilities">
            <app-create-character-abilities></app-create-character-abilities>
        </mat-step>
        <mat-step label="Description">
            <app-create-character-description></app-create-character-description>
        </mat-step>
    </mat-horizontal-stepper>
</div>