<div class="page-content">
    <mat-horizontal-stepper>
        <mat-step label="Step 1">
            <app-create-character-info></app-create-character-info>
        </mat-step>
        <mat-step label="Step 2">
            <app-create-character-race></app-create-character-race>
        </mat-step>
        <mat-step label="Step 3">
            <app-create-character-class></app-create-character-class>
        </mat-step>
        <mat-step label="Step 4">
            <app-create-character-abilities></app-create-character-abilities>
        </mat-step>
        <mat-step label="Step 5">
            <app-create-character-description></app-create-character-description>
        </mat-step>
    </mat-horizontal-stepper>
</div>